<theme-dialog>
  <dialog 
    id="cart-dialog" 
    class="drawer drawer-right dialog" 
    data-cart-empty="{{ cart.empty? }}"
    aria-labelledby="cart-dialog-title">
    <div class="dialog-header">
      <h2 id="cart-dialog-title" class="dialog-title">
        {{ 'cart.title' | t }}
      </h2>
      <button type="button" class="btn-icon dialog-close" data-dialog-close>  
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
          <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
    <div class="dialog-body">
      <cart-items class="cart-items">
        {% if cart.empty? %}
          <div class="cart-empty-wrapper">
            {% if settings.cart_icon == 'cart' %}
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path>
              </svg>
            {% endif %}
            <p class="cart-empty-message">
              {{ 'cart.empty' | t }}
            </p>
            <button 
              type="button" 
              class="btn btn-secondary" 
              data-dialog-close>
              {{ 'cart.continue_shopping' | t }}
            </button>
          </div>
        {% else %}
          <ul class="cart-items-list">
            {% for line_item in cart.items %}
              {% liquid 
                if line_item.variant.inventory_management != null and line_item.variant.inventory_policy == 'deny'
                  assign line_item_qty_max = line_item.variant.inventory_quantity
                endif
              %}
              <li class="cart-item">
                <div class="cart-item-left">
                  <a href="{{ line_item.url }}" tabindex="-1">
                    <div class="img-wrapper">
                      <img 
                        src="{{ line_item.image | image_url: width: 600 }}" 
                        alt="{{ line_item.image.alt | escape }}"
                        class="img-fluid"
                        width="{{ line_item.image.width }}"
                        height="{{ line_item.image.height }}"
                        loading="lazy"
                      >
                    </div>
                  </a>
                </div>
                <div class="cart-item-right">
                  <div class="cart-item-header">
                    <h3 class="heading h6">
                      <a href="{{ line_item.url }}">
                        {{ line_item.product.title }}
                      </a>
                    </h3>
                    <button
                      class="btn btn-icon"
                      type="button"
                      data-line-item-key="{{ line_item.key }}"
                      aria-label="{{ 'cart.remove_item' | t: item: line_item.product.title }}"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                        <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                      </svg>
                    </button>
                  </div>
                  {% unless line_item.product.has_only_default_variant %}
                    <p class="cart-item-subtext fs-sm">
                      {{ line_item.variant.title }}
                    </p>
                  {% endunless %}
                  {% unless line_item.selling_plan_allocation == null %}
                    <p class="cart-item-subtext fs-sm">
                      {{ line_item.selling_plan_allocation.selling_plan.name }}
                    </p>
                  {% endunless %}
                  {% unless line_item.properties == empty %}
                    <ul class="cart-item-properties fs-sm">
                      {% for property in line_item.properties %}
                        {% assign first_character_in_key = property.first | slice: 0 %}
                        {% unless first_character_in_key == '_' %}
                          <li>
                            {% if property.last contains 'https' %}
                              {{ property.first }}:
                              <a href="{{ property.last }}" target="_blank" class="link">
                                {{ 'cart.property_view_file' | t }}
                              </a>
                            {% else %}
                              {{ property.first }}: {{ property.last }}
                            {% endif %}
                          </li>
                        {% endunless %}
                      {% endfor %}
                    </ul>
                  {% endunless %}
                  {% if line_item.line_level_discount_allocations.size > 0 %}
                    <ul
                      class="cart-discounts-list alert alert-success list-unstyled fs-sm"
                      aria-label="{{ 'cart.applied_discounts' | t }}"
                    >
                      {%- for discount in line_item.line_level_discount_allocations -%}
                        <li class="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag">
                            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line>
                          </svg>
                          {{ discount.discount_application.title }}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {% endif %}
                  <div class="cart-item-qty-switcher-wrapper">
                    <cart-item-qty-switcher
                      class="qty-switcher"
                      role="group"
                      aria-label="{{ 'product.quantity.label' | t }}"
                      data-line-item-key="{{ line_item.key }}"
                    >
                      <button
                        class="btn"
                        type="button"
                        name="decrease"
                        aria-label="{{ 'product.quantity.decrease' | t }}"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </button>
                      <input
                        class="input"
                        name="updates[]"
                        type="number"
                        value="{{ line_item.quantity }}"
                        min="0"
                        max="{{ line_item_qty_max }}"
                        aria-label="{{ 'product.quantity.label' | t }}"
                        data-line-item-key="{{ line_item.key }}"
                      >
                      <button
                        class="btn"
                        type="button"
                        name="increase"
                        aria-label="{{ 'product.quantity.increase' | t }}"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                          <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </button>
                    </cart-item-qty-switcher>
                    <p class="cart-item-price price">
                      {% if line_item.original_line_price > line_item.final_line_price %}
                        <s class="price-compare">
                          <span class="visually-hidden"> {{ 'product.price.regular' | t }} &nbsp; </span>
                          <span>{{ line_item.original_line_price | money }}</span>
                        </s>
                        <span class="price-sale">
                          <span class="visually-hidden"> {{ 'product.price.sale' | t }} &nbsp; </span>
                          <span>{{ line_item.final_line_price | money }}</span>
                        </span>
                      {% elsif line_item.variant.compare_at_price > line_item.variant.price %}
                        <s class="price-compare">
                          <span class="visually-hidden"> {{ 'product.price.regular' | t }} &nbsp; </span>
                          <span>{{ line_item.variant.compare_at_price | money }}</span>
                        </s>
                        <span class="price-sale">
                          <span class="visually-hidden"> {{ 'product.price.sale' | t }} &nbsp; </span>
                          <span>{{ line_item.final_line_price | money }}</span>
                        </span>
                      {% else %}
                        <span class="price-regular">
                          {{ line_item.final_line_price | money }}
                        </span>
                      {% endif %}
                      {% if line_item.unit_price > 0 %}
                        <span class="price-unit">
                          <span class="visually-hidden"> {{ 'product.price.unit' | t }} &nbsp; </span>
                          <span>({{ line_item.unit_price | unit_price_with_measurement: line_item.unit_price_measurement }})</span>
                        </span>
                      {% endif %}
                    </p>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </cart-items>
      {% if settings.cart_note %}
        <details 
          id="cart-dialog-note-details"
          class="theme-collapse-details"
          {% if cart.item_count == 0 %}hidden{% endif %}
        >
          <summary class="theme-collapse-summary">
            <span>{{ 'cart.note.title' | t }}</span>
            <span class="theme-collapse-icon" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </span>
          </summary>
          <div class="theme-collapse-content">
            <cart-note
              class="cart-note">
              {% form 'cart', cart %}
                <textarea
                  id="cart-note-input"
                  class="input"
                  rows="3"
                  name="note"
                  placeholder="{{ 'cart.note.label' | t }}"
                  aria-label="{{ 'cart.note.label' | t }}"
                >{{ cart.note }}</textarea>
                <button
                  type="submit"
                  class="btn btn-primary fs-sm btn-full"
                  data-text-note-saved="{{ 'cart.note.saved' | t }}"
                  data-text-btn-save="{{ 'cart.note.button' | t }}"
                >
                  <span>{{ 'cart.note.button' | t }}</span>
                </button>
              {% endform %}
            </cart-note>
          </div>
        </details>
      {% endif %}
    </div>
    <div class="dialog-footer">
      <cart-applied-discounts>
        {% if cart.cart_level_discount_applications.size > 0 %}
          <ul
            class="cart-discounts-list alert alert-success list-unstyled fs-sm"
            aria-label="{{ 'cart.applied_discounts' | t }}"
          >
            {% for discount in cart.cart_level_discount_applications %}
              <li class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag">
                  <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line>
                </svg>
                {{ discount.title }}
                (-{{ discount.total_allocated_amount | money }})
              </li>
            {% endfor %}
          </ul>
        {%- endif -%}
      </cart-applied-discounts>
      <p
        class="cart-subtotal-wrapper fs-lg"
        role="status"
        aria-atomic="true"
        aria-live="polite"
      >
        <span> {{ 'cart.subtotal' | t }}: </span>
        <cart-subtotal class="cart-subtotal">
          {% if cart.items_subtotal_price > cart.total_price %}
            <s class="price-compare">
              <span class="visually-hidden"> {{ 'product.price.regular' | t }} &nbsp; </span>
              <span>{{ cart.items_subtotal_price | money }}</span>
            </s>
            <span class="price-sale">
              <span class="visually-hidden"> {{ 'product.price.sale' | t }} &nbsp; </span>
              <span>{{ cart.total_price | money }}</span>
            </span>
          {% else %}
            <span class="price-regular">
              {{ cart.total_price | money }}
            </span>
          {% endif %}
        </cart-subtotal>
      </p>
      {% if settings.cart_taxes_and_shipping %}
        <p class="cart-taxes-shipping fs-sm">
          {% render 'cart-taxes-shipping-text' %}
        </p>
      {% endif %}
      {% form 'cart', cart %}
        <button 
          type="submit" 
          name="checkout" 
          class="btn btn-primary btn-full btn-with-icon fs-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
          </svg>
          <span>{{ 'cart.checkout' | t }}</span>
        </button>
        {% if settings.cart_dynamic_checkout and additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}
        {% if settings.cart_payment_terms %}
          {{ form | payment_terms }}
        {% endif %}
      {% endform %}
      {% if settings.cart_payment_icons %}
        {% render 'payment-icons' %}
      {% endif %}
    </div>
  </dialog>
</theme-dialog>
