<!doctype html>
<html 
  lang="{{ request.locale.iso_code }}"
  data-theme="{{ settings.default_theme }}"
  data-default-theme="{{ settings.default_theme }}"
  data-design-mode="{{ request.design_mode }}">
  <head>
    {% render 'theme-head' %}
    {{ content_for_header }}
    {% render 'theme-assets' %}
  </head>

  <body
    data-page-type="{{ request.page_type }}"
    data-template-name="{{ template.name }}"
    data-template-suffix="{{ template.suffix }}"
  >
    <a class="skip-link" href="#main">
      {{ 'accessibility.skip_to_content' | t }}
    </a>

    <div id="header-group">
      {% sections 'header-group' %}
    </div>

    <main id="main">
      {{ content_for_layout }}
    </main>

    <div id="footer-group">
      {% sections 'footer-group' %}
    </div>

    {% render 'cart-dialog' %}
    {% render 'menu-dialog' %}
    {% render 'search-dialog' %}
    {% render 'theme-notification' %}

    {% if shop.permanent_domain contains 'ks-' %}
      <div id="theme-color-toggle-sticky">
        {% render 'theme-color-toggle' %}
      </div>
    {% endif %}
  </body>
</html>
