<div 
  class="announcement-bar {{ section.settings.color_scheme | prepend: 'color-' }}"
  style="
    --pt: {{ section.settings.pt | append: 'rem' }};
    --pb: {{ section.settings.pb | append: 'rem' }};
  "
  data-border-bottom="{{ section.settings.border_bottom }}">
  <div class="container">
    <div class="rte {{ section.settings.fs }}">
      {{ section.settings.text }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Free shipping on orders over $100!"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Border bottom",
      "default": false
    },
    {
      "type": "select",
      "id": "fs",
      "label": "Font size",
      "options": [
        { "value": "fs-sm", "label": "Small" },
        { "value": "fs-md", "label": "Medium" },
        { "value": "fs-lg", "label": "Large" }
      ],
      "default": "fs-sm"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "default": 0,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "default": 0,
      "unit": "rem"
    }
  ],
  "presets": [
    { 
      "name": "Announcement bar", 
      "category": "Content",
    }
  ]
}
{% endschema %}
