<div 
  class="announcement-bar"
  style="
    --pt: {{ section.settings.pt | append: 'rem' }};
    --pb: {{ section.settings.pb | append: 'rem' }};
  "
  {% if section.settings.custom_color_schemes %}
    data-light-color-scheme="{{ section.settings.light_color_scheme }}"
    data-dark-color-scheme="{{ section.settings.dark_color_scheme }}"
  {% endif %}
  data-border-bottom="{{ section.settings.border_bottom }}">
  <div class="container">
    <div class="rte {{ section.settings.fs }}">
      {{ section.settings.text }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Free shipping on orders over $100!"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "checkbox",
      "id": "custom_color_schemes",
      "label": "Use custom color schemes",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "light_color_scheme",
      "label": "Light color scheme",
      "default": "scheme-3",
      "visible_if": "{{ section.settings.custom_color_schemes == true }}"
    },
    {
      "type": "color_scheme",
      "id": "dark_color_scheme",
      "label": "Dark color scheme",
      "default": "scheme-3",
      "visible_if": "{{ section.settings.custom_color_schemes == true }}"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Border bottom",
      "default": false
    },
    {
      "type": "select",
      "id": "fs",
      "label": "Text size",
      "options": [
        { "value": "fs-sm", "label": "Small" },
        { "value": "fs-md", "label": "Medium" },
        { "value": "fs-lg", "label": "Large" }
      ],
      "default": "fs-sm"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "default": 0,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "default": 0,
      "unit": "rem"
    }
  ],
  "presets": [
    { 
      "name": "Announcement bar", 
      "category": "Promotion",
    }
  ]
}
{% endschema %}
