<div
  id="collection-header-{{ collection.id }}"
  class="collection-header section-spacing section-styling text-{{ section.settings.text_align }}"
  {% if section.settings.custom_color_schemes %}
    data-light-color-scheme="{{ section.settings.light_color_scheme }}"
    data-dark-color-scheme="{{ section.settings.dark_color_scheme }}"
  {% endif %}
  data-has-image="{% if section.settings.show_collection_image and collection.image != blank %}true{% else %}false{% endif %}"
  style="
    --pt: {{ section.settings.pt }};
    --pb: {{ section.settings.pb }};
    {% if section.settings.show_collection_image and collection.image != blank %}
      --bg-image-mobile: url({{ collection.image | image_url: width: 800 }});
      --bg-image-desktop: url({{ collection.image | image_url: width: 1600 }});
    {% endif %}
    {% if section.settings.display_overlay %}
      --overlay-color-rgb: {{ section.settings.overlay_color.red }} {{ section.settings.overlay_color.green }} {{ section.settings.overlay_color.blue }};
      --overlay-opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
      --overlay-blur: {{ section.settings.overlay_blur | append: 'px' }};
    {% endif %}
  ">
  <div class="collection-header-inner">
    <div class="container">
      {% if section.settings.show_breadcrumb %}
        {% render 'breadcrumb' %}
      {% endif %}
      <h1
        id="collection-heading-{{ collection.id }}" 
        class="heading {{ section.settings.heading_size }}">
        {{ collection.title }}
      </h1>
      {% if section.settings.show_collection_description and collection.description != blank %}
        <div class="description rte {{ section.settings.description_size }}">
          {{ collection.description }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection header",
  "tag": "header",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "checkbox",
      "id": "custom_color_schemes",
      "label": "Custom color schemes",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "light_color_scheme",
      "label": "Light color scheme",
      "default": "scheme-1",
      "visible_if": "{{ section.settings.custom_color_schemes == true }}"
    },
    {
      "type": "color_scheme",
      "id": "dark_color_scheme",
      "label": "Dark color scheme",
      "default": "scheme-3",
      "visible_if": "{{ section.settings.custom_color_schemes == true }}"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h1",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-md",
      "options": [
        { "value": "fs-sm", "label": "Small" },
        { "value": "fs-md", "label": "Medium" },
        { "value": "fs-lg", "label": "Large" }
      ],
      "visible_if": "{{ section.settings.show_collection_description == true }}"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_overlay",
      "label": "Display overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000",
      "visible_if": "{{ section.settings.display_overlay  }}"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 30,
      "unit": "%",
      "visible_if": "{{ section.settings.display_overlay }}"
    },
    {
      "type": "range",
      "id": "overlay_blur",
      "label": "Overlay blur",
      "default": 0,
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.display_overlay }}"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range", 
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  },
  "presets": [
    {
      "name": "Collection header",
      "category": "Collection"
    }
  ]
}
{% endschema %}
