 {% liquid
  assign limit = section.settings.limit

  if shop.domain contains 'ks-'
    assign limit = 12
  endif
  
  assign show_filters = false
  assign show_sorting = section.settings.show_sorting

  if section.settings.show_filters and collection.filters.size > 0
    assign show_filters = true
  endif
%}

<div
  id="collection-{{ collection.id }}"
  class="collection section-styling section-spacing"
  style="
    --pt: {{ section.settings.pt }};
    --pb: {{ section.settings.pb }};
  "
  {% if section.settings.custom_color_schemes %}
    data-light-color-scheme="{{ section.settings.light_color_scheme }}"
    data-dark-color-scheme="{{ section.settings.dark_color_scheme }}"
  {% endif %}
>
  <div class="container">
    {% if collection.products.size == 0 %}
      <div class="collection-grid-empty alert">
        {{ 'collection.empty_html' | t }}
      </div>
    {% else %}
      <div class="collection-bar">
        <div class="collecion-bar-left">
          {% if section.settings.show_product_count %}
            <p class="collection-bar-count">
              {{ 'collection.count_products' | t: count: collection.products_count }}
            </p>
          {% endif %}
        </div>
        <div class="collection-bar-right">
          {% if show_filters or show_sorting %}
            <button
              class="btn btn-secondary btn-with-icon"
              data-toggle="collection-filters-dialog"
              type="button"
              class="btn-icon"
              aria-controls="collection-filters-dialog"
              aria-expanded="false"
              aria-haspopup="dialog"
            >
              {% if show_filters %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="svg-icon-filter me-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line>
                </svg>
              {% endif %}
              {% liquid 
                if show_filters and show_sorting
                  echo 'collection.filters_sort.filter_and_sort' | t
                elsif show_filters
                  echo 'collection.filters_sort.filters' | t
                elsif show_sorting
                  echo 'collection.filters_sort.sort_by' | t
                endif
              %}
            </button>
          {% endif %}
        </div>
      </div>
      {% paginate collection.products by limit %}
        <ul
          class="collection-grid"
          style="
            --mobile-cols: {{ section.settings.mobile_cols }};
            --desktop-cols: {{ section.settings.desktop_cols }};
          "
          aria-labelledby="collection-heading-{{ collection.id }}"
        >
          {% for product in collection.products %}
            <li class="collection-item">
              {% render 'product-card', product: product %}
            </li>
          {% endfor %}
        </ul>
        {% render 'pagination', paginate: paginate %}
      {% endpaginate %}
    {% endif %}
  </div>
</div>

{% render 'collection-filters-sort-dialog' %}

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "checkbox",
      "id": "custom_color_schemes",
      "label": "Custom color schemes",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "light_color_scheme",
      "label": "Light color scheme",
      "default": "scheme-1",
      "visible_if": "{{ section.settings.custom_color_schemes == true }}"
    },
    {
      "type": "color_scheme",
      "id": "dark_color_scheme",
      "label": "Dark color scheme",
      "default": "scheme-3",
      "visible_if": "{{ section.settings.custom_color_schemes == true }}"
    },
    {
      "type": "header",
      "content": "General"
    },
     {
      "type": "range",
      "id": "limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "default": 40,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "label": "Show product count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sorting",
      "label": "Show sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "filters_open_by_default",
      "label": "Filters open by default",
      "default": false
    },
    {
      "type": "header",
      "content": "Columns",
      "info": "Customize the number of products displayed per row on mobile and desktop devices."
    },
    {
      "type": "range",
      "id": "mobile_cols",
      "label": "Mobile columns",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "desktop_cols",
      "label": "Desktop columns",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    },
     {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "text_alignment",
      "id": "card_text_alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "card_heading_size",
      "label": "Heading size",
      "options": [
        { "value": "fs-sm", "label": "Small" },
        { "value": "fs-md", "label": "Medium" },
        { "value": "fs-lg", "label": "Large" },
        { "value": "fs-xl", "label": "Extra Large" }

      ],
      "default": "fs-md"
    },
    {
      "type": "checkbox",
      "id": "card_show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "card_show_rating",
      "label": "Show rating",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "card_show_form",
      "label": "Show \"Add to cart\" form",
      "default": true
    },
    {
      "type": "select",
      "id": "card_atc_btn_style",
      "label": "\"Add to cart\" button style",
      "options": [
        { "value": "btn-primary", "label": "Primary" },
        { "value": "btn-secondary", "label": "Secondary" }
      ],
      "default": "btn-secondary"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range", 
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  },
  "presets": [
    {
      "name": "Collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
