{% liquid
  assign logo_height = section.settings.logo_height
  assign logo_height_x2 = logo_height | times: 2
%}

<div
  id="header"
  class="{{ section.settings.color_scheme | prepend: 'color-' }}"
  style="
    --pt: {{ section.settings.pt | append: 'rem' }};
    --pb: {{ section.settings.pb | append: 'rem' }};
  "
  data-border-bottom="{{ section.settings.border_bottom }}"
  data-box-shadow="{{ section.settings.box_shadow }}"
>
  <div class="container">
    <div id="header-inner">
      <div class="header-col">
        <button 
          data-toggle="menu-dialog"
          type="button"
          class="btn-icon"
          aria-controls="menu-dialog"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-label="{{ 'accessibility.toggle_navigation' | t }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
        <button 
          data-toggle="search-dialog"
          type="button"
          class="btn-icon"
          aria-controls="search-dialog"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-label="{{ 'accessibility.toggle_search' | t }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"  fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
      <div class="header-col">
        {% if request.page_type == 'index' %}
          <h1>
        {% endif %}
          <a
            id="header-logo" 
            href="{{ routes.root_url }}"
            data-has-dark-logo="{% if settings.logo_dark %}true{% else %}false{% endif %}">
            {% if settings.logo %}
              <img
                id="header-logo-default"
                class="img-fluid"
                src="{{ settings.logo | image_url: height: logo_height_x2 }}"
                alt="{{ shop.name | escape }}"
                width="{{ logo_height | times: settings.logo.aspect_ratio | round }}"
                height="{{ logo_height }}"
                fetchpriority="high"
                loading="eager"
              >
              {% if settings.logo_dark %}
                <img
                  id="header-logo-dark"
                  class="img-fluid"
                  src="{{ settings.logo_dark | image_url: height: logo_height_x2 }}"
                  alt="{{ shop.name | escape }}"
                  width="{{ logo_height | times: settings.logo_dark.aspect_ratio | round }}"
                  height="{{ logo_height }}"
                  fetchpriority="high"
                  loading="eager"
                >
              {% endif %}
            {% else %}
              <span>
                {{ shop.name }}
              </span>
            {% endif %}
          </a>
        {% if request.page_type == 'index' %}
          </h1>
        {% endif %}
      </div>
      <div class="header-col">
        <a 
          href="{{ routes.account_url }}"
          class="btn-icon"
          aria-label="{{ 'general.account' | t }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
          </svg>
        </a>
        <button 
          data-toggle="cart-dialog"
          type="button"
          class="btn-icon"
          aria-controls="cart-dialog"
          aria-expanded="false"
          aria-haspopup="dialog"
          aria-label="{{ 'accessibility.toggle_cart' | t }}">
          {% if section.settings.cart_icon == 'cart' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
              <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
            </svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag">
              <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path>
            </svg>
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "limit": 1,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
     {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Border bottom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "box_shadow",
      "label": "Box shadow",
      "default": false
    },
    {
      "type": "range",
      "id": "logo_height",
      "label": "Logo height",
      "min": 10,
      "max": 100,
      "step": 2,
      "default": 20,
      "info": "Select your logo in [theme settings](\/editor?context=theme&category=logo)"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "default": "cart",
      "options": [
        { "value": "cart", "label": "Cart" },
        { "value": "bag", "label": "Bag" }
      ]
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "default": 0,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "default": 0,
      "unit": "rem"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    { 
      "name": "Header",
      "category": "Header"
    }
  ]
}
{% endschema %}
